@layer base, starlight, theme, components, utilities, my-overrides;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./baseline.css";
@import "./my-overrides.css" layer(my-overrides);

@import "./baseline.css";

@theme {
  --font-sans: "Barlow Semi Condensed";
  --spacing: 1rem;
  --line-height: 1rem;

}
  /* Dark mode colors. */
  :root {
    --sl-color-accent-low: #122634;
    --sl-color-accent: #1c70a4;
    --sl-color-accent-high: #b4ccdf;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c6c8ce;
    --sl-color-gray-3: #a0a4ae;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
  }

  /* Light mode colors. */
  :root[data-theme="light"] {
    --sl-color-accent-low: #c7dae8;
    --sl-color-accent: #005380;
    --sl-color-accent-high: #14354c;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
  }



    