@layer my-overrides {

  :root {

    --sl-line-height: 1.25rem;
    --sl-line-height-headings: 1.25rem;


    --sl-text-2xs: 0.6rem;
    /* 12px */
    --sl-text-xs: 0.65rem;
    /* 13px */
    --sl-text-sm: 0.7rem;
    /* 14px */
    --sl-text-base: 0.8rem;
    /* 16px */
    --sl-text-lg: 0.9rem;
    /* 18px */
    --sl-text-xl: 1rem;
    /* 20px */
    --sl-text-2xl: 1.2rem;
    /* 24px */

    --sl-nav-height: 3.5rem;
    --sl-nav-pad-x: 1rem;
    --sl-nav-pad-y: 0.75rem;
    --sl-mobile-toc-height: 3rem;
    --sl-sidebar-width: 15rem;
    --sl-sidebar-pad-x: .5rem;
    --sl-content-width: 45rem;
    --sl-content-pad-x: 1rem;
    --sl-menu-button-size: 1rem;
    --sl-nav-gap: var(--sl-content-pad-x);
    /* Offset required to show outline inside an element instead of round the outside */
    --sl-outline-offset-inside: -0.1875rem;

    --sl-sidebar-item-padding-inline: .25rem;

    --sl-text-body: var(--sl-text-base);
    --sl-text-body-sm: var(--sl-text-xs);
    --sl-text-code: var(--sl-text-sm);
    --sl-text-code-sm: var(--sl-text-xs);
    --sl-text-h1: var(--sl-text-2xl);
    --sl-text-h2: var(--sl-text-xl);
    --sl-text-h3: var(--sl-text-lg);
    --sl-text-h4: var(--sl-text-base);
  }

  @media (min-width: 50em) {
    :root {
      --sl-nav-height: 4rem;
      --sl-nav-pad-x: 1rem;
    }
  }

  @media (min-width: 72rem) {
    :root {
      --sl-content-pad-x: 1rem;
      --sl-mobile-toc-height: 0rem;
    }
  }
}


html {
  font-size: var(--sl-line-height);
  line-height: var(--sl-line-height);
}

body {
  background-image: linear-gradient(rgba(160, 160, 160, 0.3) 0px,
      transparent 1px,
      transparent 100%);
  background-size: 100% 1rem;
}



.sl-markdown-content {

  max-width: 70ch;
}

.sl-markdown-content .small {
  font-size: var(--sl-text-sm);
}

.sl-markdown-content p,
.sl-markdown-content ul,
.sl-markdown-content ol{
  font-size: var(--sl-text-base);
  @apply baseline-1/1;
  /* text-wrap: pretty; */
}

.sl-markdown-content ul {
  page-break-inside: avoid;
  margin-left: 1.5rem;
}

.sl-markdown-content ul li {
  position: relative;
}

.sl-markdown-content ul li::before {
  position: absolute;
  left: -1.5rem;
  width: 1.5rem;
  content: "–";
  text-align: center;
}

.sl-markdown-content ol {
  list-style: decimal-leading-zero;
  margin-left: 1.5rem;
  page-break-inside: avoid;
}

.sl-markdown-content a {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-decoration-color: gray;
  text-decoration-style: dashed;
}

.sl-markdown-content .link-card a {
  text-decoration-thickness: 0px;
}

/*
   * Apply to headings appropriately based on
   * header sizes and desired spacing
   */
.sl-container h1 {
  @apply baseline-2/2;
  font-size: var(--sl-text-2xl);
  font-weight: bold;

  text-transform: uppercase;
}

.sl-markdown-content hr {
  @apply baseline-2/1;

  /* margin-top: 1rem; */
}

.sl-markdown-content h3 {
  font-weight: bold;
  font-size: var(--sl-text-lg);
  @apply baseline-1/1;
}


.sl-markdown-content h4 {
  font-weight: var(--font-weight--bold);
  font-size: var(--sl-text-base);
  @apply baseline-1/0;
}

.sl-markdown-content h5 {
  @apply baseline-1/0;
  background-color: red;
}

.sl-markdown-content h6 {
  @apply baseline-2/0;
  background-color: red;
}

.sl-markdown-content dt {
  font-weight: var(--font-weight--bold);
}

.content-panel {
  padding: 0 2rem;
}

.main-frame {}

.dc-explorer,
.dc-explorer__tiles {
  margin: 0;
}


.card {
  padding: 1rem;
}

#organization-category-filter-holder ul {
  list-style: none;
  display: flex;
  
}

#organization-category-filter-holder ul li {
  flex: 1;
  @apply baseline-1/0;
}

.hide-international .sl-link-card-2.international {
  display: none;
}

.hide-hgf .sl-link-card-2.hgf {
  display: none;
}

.hide-university .sl-link-card-2.university {
  display: none;
}

.hide-mpg .sl-link-card-2.mpg {
  display: none;
}

.hide-national .sl-link-card-2.national {
  display: none;
}

.hide-fraunhofer .sl-link-card-2.fraunhofer {
  display: none;
}

.property-group-header {
  font-weight: bold;
  text-transform: uppercase;
}


#organization-category-filter-holder {
  height: 3rem;
}



button