
node_modules/
dist/
.history/
.idea/
/.vscode/settings.json
packages/@befide/bf2035-3d/

packages/@befide/bf2035-charts/
packages/@befide/bf2035-data/
packages/@befide/bf2035-data-legacy/
packages/@befide/bf2035-report/src/content/terms/
packages/@befide/bf2035-report/src/content/organisations/
packages/@befide/bf2035-report/src/content/facilities/
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.1m.0.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.1m.1.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.1m.2.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.10m.0.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.10m.1.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.10m.2.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.20m.0.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.20m.1.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.20m.2.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.100m.0.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.100m.1.png
packages/@befide/bf2035-report/src/astro/assets/media/__.floor.100m.2.png
packages/@befide/bf2035-report/src/astro/assets/media/__.grid.png
packages/@befide/bf2035-report/src/astro/assets/media/__.materials.png
packages/@befide/bf2035-report/src/astro/assets/media/accelerators-in-use.png
packages/@befide/bf2035-report/src/astro/assets/media/causal-map.png
packages/@befide/bf2035-report/src/astro/assets/media/community.png
packages/@befide/bf2035-report/src/astro/assets/media/cover.png
packages/@befide/bf2035-report/src/astro/assets/media/forschungsagenda.png
packages/@befide/bf2035-report/src/astro/assets/media/kara.png
packages/@befide/bf2035-report/src/astro/assets/media/usage.neutron-science.png
packages/@befide/bf2035-report/src/astro/assets/media/usage.nuclear-physics.png
packages/@befide/bf2035-report/src/astro/assets/media/usage.nuclear-probes-and-ion-beams.png
packages/@befide/bf2035-report/src/astro/assets/media/usage.particle-physics.png
packages/@befide/bf2035-report/src/astro/assets/media/usage.photon-science.png
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.ares.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.awake.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.axsis.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.berlinpro.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.cstart.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.draco.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.eupraxia.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.flashforward.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.flute.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.jeti.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.kaldera.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.kara.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.lux.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.mcf.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.phelix.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.pitz.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.plasmedx.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.s-dalinac.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.supralab.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.accelerator-science.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.hadron-physics.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.neutron-science.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.particle-physics.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.facilities.photon-science.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.beam.emittance.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.beam.intensity-maximum.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.beam.intensity-minimum.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.beam.particle-energy-spread.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.beam.particle-energy.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.facility.construction-cost.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.facility.energy-efficiency.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.facility.operability.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.facility.operation-cost.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.facility.size.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.user.availability.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.user.data-rate.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.objectives.user.variable-pulse-structure.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.beam-modeling.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.cavity-technology.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.energy-supply.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.magnet-technology.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.materials.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.measurement-and-control.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.svg
packages/@befide/bf2035-report/src/astro/assets/svg/agenda.topics.ultracompact.svg
packages/@befide/bf2035-report/src/astro/assets/svg/community-map.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.accelerator_related__nobel_prizes.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.accelerators_in_use__industry.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.accelerators_in_use__medicine.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.accelerators_in_use__science.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.nuclideDiscoveriesPerYear.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.particleDiscoveries.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.pdbEntries.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__beta_electron.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__beta_proton.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__conferences.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__current_proton.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__emittance.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__energy_electron.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__energy_proton.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__magnetic_field_strength.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__neutron_flux.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__peak_brilliance.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__peak_luminosity.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__professorships.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__publications.svg
packages/@befide/bf2035-report/src/astro/assets/svg/progress-chart.progress__srf_gradient.svg
.frontmatter/.DS_Store
.frontmatter/database/pinnedItemsDb.json
.frontmatter/database/taxonomyDb.json
.idea/bf2035.iml
.idea/bf2035.iml
.idea/bf2035.iml
packages/@befide/bf2035-report/src/_obsidian/facility.md
packages/@befide/bf2035-report/src/_obsidian/organisation.md
packages/@befide/bf2035-report/src/_obsidian/reference.md
packages/@befide/bf2035-report/src/_obsidian/section.md
packages/@befide/bf2035-report/src/_obsidian/term.md
.DS_Store
frontmatter.json
