**/.astro/
node_modules/
dist/
.venv/
.history/
.idea/
.vscode/


packages/@befide/bf2035-3d


.DS_Storex
/.run/inventory run.run.xml
packages/@befide/bf2035-report/___/_02-einsatz/01-teilchenphysik.mdx
packages/@befide/bf2035-report/___/_02-einsatz/02-kernphysik.mdx
packages/@befide/bf2035-report/___/_02-einsatz/03-forschung-mit-photonen.mdx
packages/@befide/bf2035-report/___/_02-einsatz/04-forschung-mit-neutronen.mdx
packages/@befide/bf2035-report/___/_02-einsatz/05-forschung-mit-nuklearen-sonden-und-ionenstrahlen.mdx
packages/@befide/bf2035-report/___/_02-einsatz/_02-einsatz/01-teilchenphysik.mdx
packages/@befide/bf2035-report/___/_02-einsatz/_02-einsatz/02-kernphysik.mdx
packages/@befide/bf2035-report/___/_02-einsatz/_02-einsatz/03-forschung-mit-photonen.mdx
packages/@befide/bf2035-report/___/_02-einsatz/_02-einsatz/04-forschung-mit-neutronen.mdx
packages/@befide/bf2035-report/___/_02-einsatz/_02-einsatz/05-forschung-mit-nuklearen-sonden-und-ionenstrahlen.mdx
packages/@befide/bf2035-report/___/facilities/BESSY II.md
packages/@befide/bf2035-report/___/facilities/BESSY III.md
packages/@befide/bf2035-report/___/facilities/erlc.md
packages/@befide/bf2035-report/___/facilities/esrf-ebs.md
packages/@befide/bf2035-report/___/facilities/eu-xfel.md
packages/@befide/bf2035-report/___/facilities/European XFEL.md
packages/@befide/bf2035-report/___/facilities/MESA.md
packages/@befide/bf2035-report/___/facilities/perle.md
packages/@befide/bf2035-report/___/facilities/PETRA III.md
packages/@befide/bf2035-report/___/facilities/PETRA IV.md
packages/@befide/bf2035-report/___/facilities/petra3.md
packages/@befide/bf2035-report/___/facilities/petra4.md
packages/@befide/bf2035-report/___/facilities/S-DALINAC.md
packages/@befide/bf2035-report/___/organisations/CERN.md
packages/@befide/bf2035-report/___/organisations/DESY.md
packages/@befide/bf2035-report/___/organisations/ESRF.md
packages/@befide/bf2035-report/___/organisations/European XFEL GmbH.md
packages/@befide/bf2035-report/___/organisations/HZB.md
packages/@befide/bf2035-report/___/organisations/HZDR.md
packages/@befide/bf2035-report/___/organisations/KIT.md
packages/@befide/bf2035-report/___/organisations/TU Darmstadt.md
packages/@befide/bf2035-report/___/organisations/Uni Mainz.md
packages/@befide/bf2035-report/___/terms/erl.md
