[data-print-preview='false'] .spread__page {
  padding-top: var(--page__margin__top);
  padding-bottom: var(--page__margin__bottom);
  padding-right: var(--page__margin__x);
  padding-left: var(--page__margin__x);
}
[data-print-preview='false'] .spread {
  display: flex;
  flex-direction: column;
}
[data-print-preview='false'] .spread__page {
  position: relative;
  flex: 1 1;
  display: flex;
  background-size: cover;
  background-position: top center;
  background-image: none !important;
}
[data-print-preview='false'] .spread__page.left {
  display: none !important;
}
