@media print {
  @page {
    size: 210mm 297mm;
  }
  .layout__header {
    display: none !important;
  }
  .layout__footer {
    display: none !important;
  }
  .layout__footer {
    padding: 0 !important;
  }
  astro-dev-toolbar {
    display: none !important;
  }
}
@media print {
  div.debug {
    display: none;
  }
  p {
    hyphens: auto;
  }
  .toolbox,
  .layout__sidebar,
  .layout__navbar {
    display: none !important;
  }
}
