/* barlow-semi-condensed-latin-700-normal */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fontsbarlow-semi-condensed-latin-700-normal.woff2') format('woff2'), url('/fonts/barlow-semi-condensed-latin-700-normal.woff') format('woff');
}