.dc-explorer {
  --interaction__color--spot: orange;
  --interaction__color--neutral--dark: #ccc;
}

@media (max-width: 600px) {
  .explorer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .dc-explorer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .dc-explorer__filters {
    flex: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    font-size: var(--text-sm);
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .dc-explorer__items {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    font-size: var(--text-sm);
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dc-explorer__tile {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  background-color: white;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.5);
}

.dc-explorer__tile__header {
  flex: 0 0 1rem;

  background-color: rgba(128, 128, 128, 0.1);
  font-size: var(--text-xs);
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
}

.dc-explorer__tile__title {
  flex: 1;
}

.dc-explorer__filter__reset {
  flex: 1;
  text-align: right;
}

.dc-explorer__filter__reset button {
  cursor: pointer;
}

.dc-explorer__filter__reset button {
  text-decoration: dotted;
}

.dc-explorer__filter__reset {
  opacity: 0;
  transition: opacity;
  transition-duration: 200ms;
}

.filtered .dc-explorer__filter__reset {
  opacity: 1;
  transition: opacity;
  transition-duration: 200ms;
}

.dc-explorer__tile__body {
  flex: 1;
  padding: 0.5rem;
  overflow-y: scroll;
  background-color: rgba(128, 128, 128, 0.05);
  margin: 0 !important;
  font-size: var(--text-xs);
}

.dc-explorer text {
  font-size: var(--text-xs);
  font-weight: var(--font-weight--bold);
  font-variant-numeric: tabular-nums;
  filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 3px white);
}

.explorer__chart rect {
  cursor: pointer;
}

.explorer__chart rect:hover {
  fill-opacity: 1;
}

.explorer__chart rect.selection {
  fill: var(--interaction__color--spot);
  stroke: var(--interaction__color--spot);
  stroke-width: 2px;
}

.explorer__chart--bar .stack rect {
  fill: var(--interaction__color--neutral--dark, #808080);
  stroke: var(--interaction__color--spot);
  stroke-width: 0;
}

.explorer__chart--bar .stack rect.deselected {
  fill: var(--interaction__color--neutral--dark, #808080);
}

.explorer__chart g.row rect {
  cursor: pointer;
  fill-opacity: 1;
  fill: var(--interaction__color--neutral--dark, #808080);
  stroke: var(--interaction__color--neutral--dark, #808080);
  stroke-width: 1px;
  stroke-opacity: 1;
}

.filter.filtered g.row rect {
  fill: var(--interaction__color--spot);
}

.filter.filtered g.row rect.deselected {
  fill: var(--interaction__color--neutral--dark, #808080);
}

.explorer__chart g.row rect.selected {
  fill: var(--interaction__color--spot);
}

.explorer__chart g.row rect:hover {
  fill: var(--interaction__color--spot);
  fill-opacity: 0.5;
  stroke: var(--interaction__color--spot);
}

.explorer__chart g.row,
.explorer__chart g.row text {
  cursor: pointer;
}

.explorer__chart g.row text g.selection {
  fill: var(--interaction__color--spot);
}

.explorer__chart .axis {
  font-family: "Barlow Semi Condensed";
}

.explorer__chart .axis path.domain {
  display: none;
}

.explorer__chart .axis line {
  opacity: 0.1;
}

.explorer__chart .axis text {
  font-size: var(--text-xs);
}

.explorer__chart .deselected+text {
  opacity: 0.8;
}

.explorer__chart .titlerow {
  /* fill-opacity: 0.5; */
  font-weight: normal;
}

.explorer__chart .tick text {
  font-weight: normal;
  font-size: var(--text-xs);
  fill: black;
}

.grid-line.horizontal {
  stroke: black;
  stroke-width: 1px;
}

/* 
.explorer .bib-item__author {
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
}

.explorer .bib-item__formatted,
.explorer .bib-item__abstract p {
  margin-bottom: 0;
}

.explorer .list .bib-item__title {
  max-width: 50ch;
}

.explorer .list .bib-item__actions {
  margin-bottom: 1rem;
}

.explorer .list .bib-item__actions .bib-item__action {
  display: inline-block;
  margin-right: 1rem;
}

.explorer table .bib-item__title {
  max-width: 50ch;
}

.explorer table .bib-item__actions {
  margin-bottom: 1rem;
}

.explorer table .bib-item__actions .bib-item__action {
  display: inline-block;
  margin-right: 1rem;
}

.explorer table div.detail {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.explorer table .bib-item__actions {
  flex: 1 0 50%;
}

.explorer table .bib-item__abstracts {
  flex: 1 0 100%;
  display: flex;
} */
/* 
div[data-depth] {
  position: relative;
}

div[data-depth='1'] {
  /* margin-left: 1rem; */
/* } */
/*
*/

.tree {
  --tree-spacing: 1.5rem;
  --radius: 10px;

  line-height: 2rem;
}

.tree li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  font-size: var(--sl-text-sm);
  line-height: 1.5rem;
  padding-left: calc(2 * var(--tree-spacing) - var(--radius) - 2px);
}

.tree ul {
  margin: 0;
  padding: 0;

  margin-left: calc(var(--radius) - var(--tree-spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--tree-spacing) / -2);
  left: -2px;
  width: calc(var(--tree-spacing) + 2px);
  height: calc(var(--tree-spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree .node-header {
  display: flex;
}

.tree summary {

  cursor: pointer;

}

.tree .tree-node__height {
  flex: 1;
  text-align: right;
}

.tree .tree-node__label {
  flex: 1
}

.tree-node__label {
  font-weight: bold;
  padding-right: 1rem;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--tree-spacing) / 2 - var(--radius));
  left: calc(var(--tree-spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  z-index: 1;
  background: #696 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='20'%3E%3Cg fill='%23fff'%3E%3Cpath d='m5 9h4v-4h2v4h4v2h-4v4h-2v-4h-4z'/%3E%3Cpath d='m25 9h10v2h-10z'/%3E%3C/g%3E%3C/svg%3E") 0 0;
}

.tree details[open]>summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}