/* @import "./table.css";
@import "./print.css";
@import "./property-list.css";


@import "./card.css"; */

@import "./my-overrides.config.css";
@import "./baseline.css";
@import "./my-overrides.content-panel.css";
@import "./my-overrides.typography.css";
@import "./my-overrides.table.css";
@import "./my-overrides.tree.css";

:root {
  --color-kfb-red: #c53228;
  --color-kfb-green: #009900;
  --color-kfb-blue: #2174a8;
  --color-kfb-yellow: #edc500;
  --color-kfb-gray: #757575;
  --sl-font: "Barlow Semi Condensed", serif;
}

@view-transition {
  navigation: auto;
}
