table {
  margin: 0;
  font-size: var(--text-xs);
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;
}

tr {
  position: relative;
}

tr:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    #ffffff 25%,
    #666666 25%,
    #666666 50%,
    #ffffff 50%,
    #ffffff 75%,
    #666666 75%,
    #666666 100%
  );
  background-size: 4px 4px;
}

thead tr::after {
  background-image: none;
  background-color: black;
  height: 2px;
}

th {
  padding: 0 0.25rem;
  text-align: left;
  vertical-align: baseline;
  font-weight: 600;
  height: 2rem;
  line-height: 1rem;
}

td {
  vertical-align: baseline;
  line-height: 1rem;
  padding: 0 0.25rem;
}

tfoot td {
  border-top: 2px solid gray;
  border-bottom: none;
}

/* th:first-child,
td:first-child {
  padding-left: 0;
} */
